body{ 
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif; /*Foi copiado do google fonts */
    color: #222222;
    margin: 0;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.profile{
    text-align: center;
    margin-bottom: 40px
}

.foto-principal{
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 50%; 
    margin: 30px 30px 0; 
    box-shadow: 0px 0px 10px #959595;
}

h1{
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;/*Isso muda o tamanho da fonte*/
}

h2{
    margin-top: 0;
    font-style: italic; /*Muda a fonte do h2*/
    color: #494949;
    font-weight: 100; /*Muda a expessura da fonte*/
    letter-spacing: -1px;/*espaçamento das letras*/
}

h4{
    margin-bottom: 5px;
}

h5{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

p{
    line-height: 25px;
    text-align: justify;
    margin-top: 0;
}

.social-links{
    text-decoration: none; 
}

.social-icons{
    width: 20px;
    
}

.github{
    margin: 0 15px 0 15px;
}

.jobs-list{
    list-style: none; /*Definir o tipo de listagem*/
    padding-left: 20px;
}

.footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}