.container{
    background-color: silver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    height: 600px;
}

.caixa{
    width: 100px;
    height: 100px;
}
    
.red{
    flex-grow: 2;
    background-color: red;
}

.blue{
    flex-grow: 3;
    /* order: -1; */
    /* align-self: flex-end; */
    background-color: blue;
}

.yellow{
    flex-grow: 4;
    background-color: yellow;
}

.green{
    background-color: green;
}